%section.section.clearfix
  .container
    .row
      .col-md-3
        %h3
          %span.text-default Events
        .separator-2
        .small
          %i.fa.fa-calendar.pr-10>
          Oct 23, 2015
          = succeed "10:25" do
            %i.fa.fa-clock-o.pl-10.pr-10
        %h5
          %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet
        %hr/
        .small
          %i.fa.fa-calendar.pr-10>
          Oct 23, 2015
          = succeed "9:55" do
            %i.fa.fa-clock-o.pl-10.pr-10
        %h5
          %a{:href => "blog-post.html"} Consectetur adipisicing elit
        %hr/
        .small
          %i.fa.fa-calendar.pr-10>
          Oct 23, 2015
          = succeed "11:05" do
            %i.fa.fa-clock-o.pl-10.pr-10
        %h5
          %a{:href => "blog-post.html"} Dignissimos, sapiente enim
        %hr/
        .small
          %i.fa.fa-calendar.pr-10>
          Oct 23, 2015
          = succeed "07:45" do
            %i.fa.fa-clock-o.pl-10.pr-10
        %h5
          %a{:href => "blog-post.html"} Architecto dignissimos labore
        %hr/
        %a.btn.btn-default{:href => "#"}
          %i.fa.fa-calendar.pr-10
          See More Events
/ section end