#summary.linked

%section.light-gray-bg.pv-30.clearfix
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.text-center
          %strong 
            = t '.features_moto'
        .separator
        %p.large.text-center 
          = t '.features_description'
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "480", :src => "https://www.youtube.com/embed/DEaz3l5MYbA", :width => "853"}
