#summary.linked

%section.light-gray-bg.pv-30.clearfix
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.text-center
          %strong 
            = t '.features_moto'
        .separator
        %p.large.text-center 
          = t '.features_description'

