#team

/ main-container start
/ ================
%section.main-container
  .container
    .row
      / main start
      / ================
      .main.col-md-12
        / page-title start
        / ================
        %h1.page-title Team Options 2
        .separator-2
        / page-title end
        .image-box.team-member.style-3-b
          .row
            .col-sm-6.col-md-4.col-lg-3
              .overlay-container.overlay-visible
                %img{:alt => "", :src => "images/team-member-1.jpg"}/
                %a.popup-img.overlay-link{:href => "images/team-member-1.jpg", :title => "Jane Doe - CEO"}
                  %i.icon-plus-1
                .overlay-bottom.hidden-xs
                  .text
                    %p.small.margin-clear
                      %em
                        Some info
                        %br/
                        Lorem ipsum dolor sit
            .col-sm-6.col-md-4.col-lg-6
              .body
                %h3.title.margin-clear
                  Jane Doe -
                  %small CEO
                .separator-2.mt-10
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                %ul.social-links.circle.margin-clear.colored
                  %li.facebook
                    %a{:href => "http://www.facebook.com", :target => "_blank"}
                      %i.fa.fa-facebook
                  %li.twitter
                    %a{:href => "http://www.twitter.com", :target => "_blank"}
                      %i.fa.fa-twitter
                  %li.googleplus
                    %a{:href => "http://plus.google.com", :target => "_blank"}
                      %i.fa.fa-google-plus
                %br/
                %a.btn.btn-gray-transparent{:href => "tel:123123123123123"}
                  %i.pr-10.fa.margin-clear.fa-phone>
                  Call
                %a.btn.btn-gray-transparent{:href => "mailto:info@theproject.com"}
                  %i.pr-10.margin-clear.fa.fa-envelope-o>
                  Contact
            .col-sm-12.col-md-4.col-lg-3
              .pv-20.visible-lg.visible-md
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "95%", :role => "progressbar"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} CSS
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "85%", :role => "progressbar"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} HTML5
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "95%", :role => "progressbar"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} Design
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "80%"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} PHP
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "85%"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} jQuery
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "90%"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} Drupal
        .image-box.team-member.style-3-b
          .row
            .col-sm-6.col-md-4.col-lg-3
              .overlay-container.overlay-visible
                %img{:alt => "", :src => "images/team-member-2.jpg"}/
                %a.popup-img.overlay-link{:href => "images/team-member-2.jpg", :title => "John Doe - CTO"}
                  %i.icon-plus-1
                .overlay-bottom.hidden-xs
                  .text
                    %p.small.margin-clear
                      %em
                        Some info
                        %br/
                        Lorem ipsum dolor sit
            .col-sm-6.col-md-4.col-lg-6
              .body
                %h3.title.margin-clear
                  John Doe -
                  %small CTO
                .separator-2.mt-10
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                %ul.social-links.circle.margin-clear.colored
                  %li.facebook
                    %a{:href => "http://www.facebook.com", :target => "_blank"}
                      %i.fa.fa-facebook
                  %li.twitter
                    %a{:href => "http://www.twitter.com", :target => "_blank"}
                      %i.fa.fa-twitter
                  %li.googleplus
                    %a{:href => "http://plus.google.com", :target => "_blank"}
                      %i.fa.fa-google-plus
                %br/
                %a.btn.btn-gray-transparent{:href => "tel:123123123123123"}
                  %i.pr-10.margin-clear.fa.fa-phone>
                  Call
                %a.btn.btn-gray-transparent{:href => "mailto:info@theproject.com"}
                  %i.pr-10.margin-clear.fa.fa-envelope-o>
                  Contact
            .col-sm-12.col-md-4.col-lg-3
              .pv-20.visible-lg.visible-md
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "85%", :role => "progressbar"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} CSS
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "80%", :role => "progressbar"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} HTML5
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "90%", :role => "progressbar"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} Design
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "70%"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} PHP
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "85%"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} jQuery
              .progress.style-1.dark
                %span.text
                .progress-bar.progress-bar-white{"data-animate-width" => "95%"}
                  %span.label.object-non-visible{"data-animation-effect" => "fadeInLeftSmall", "data-effect-delay" => "1000"} Drupal

