
.page-wrapper
  / background image
  / banner start
  / ================
  .pv-40.stats.padding-bottom-clear.parallax.dark-translucent-bg.background-img-7{style: "height: 100vh"}
    .container
      .row
        .col-md-8.text-center.col-md-offset-2.pv-20
          .object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "100"}
            / logo
            #logo.logo.text-center
              %h3.margin-clear
            / name-and-slogan
            
            %h1.page-title.text-center Coming Soon
            .separator
            %p.text-center
            = t '.coming_soon_decription' 
            %br
            	
            %ul.list-inline.mb-20.text-center
            / countdown start
            .countdown.clearfix
            / countdown end
      
