- content_for :title, I18n.t('views.pages.form')

%iframe{:frameborder => "0", :height => "1000", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/forms/d/e/1FAIpQLSe9gQqY7KmOYkAuRxJi9uIv8-Mh_jP6u-g-mS2puNvUBmJM7A/viewform?embedded=true", :width => "100%"}

    
      
